<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>信息修改</h1>
    <br>
    <form action="user/update" method="post">
        <table>
            <tr>

                <td>姓名</td>
                <td>
                    <input type="hidden" th:value="${user.id}" name="id">
                    <input type="text" th:value="${user.name}" name="name">
                </td>
            </tr>
            <tr>
                <td>性别</td>
                <td><input type="text" th:value="${user.sex}" name="sex"></td>
            </tr>
            <tr>
                <td>生日</td>
                <td><input type="text" th:value="${#dates.format(user.date ,'yyyy-MM-dd')}" name="date"></td>
            </tr>
            <tr>
                <td>操作</td>
                <td><input type="submit" value="修改"></td>
            </tr>

        </table>
    </form>
</body>
</html>